fastapi
uvicorn
pydantic
python-dotenv

# Vector DB
chromadb

# LlamaIndex (ONLY what you use)
llama-index-core
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-llms-together

# Embeddings
sentence-transformers
huggingface-hub
transformers

# System utils
psutil
aiohttp
httpx

# DB
SQLAlchemy>=2.0
psycopg2-binary>=2.9
together